In [5]:
# import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd

import PIL.ImageDraw as ImageDraw
import PIL.Image as Image

# from shapely.geometry import Point

%matplotlib inline

df=pd.read_csv("usa_state.csv")
arrest=pd.read_csv("usa_arrests.csv", index_col=5)
arrest
df=df[df.region != 'district of columbia']

In [4]:
image = Image.new("RGB", (640, 480), color=(222,222,244))
draw = ImageDraw.Draw(image)

a=7
df['coor'] = df.apply(lambda x: (((150+x.long)*a ,(-x.lat+70)*a)), axis=1)
states=set(df['region'])

for i in states:
    # print(i,c)
    murder=arrest.loc[i,'Murder']
    zarib_rang=int((murder+2)*10)
    df2=df[df['region']==i]
    points = tuple(list(df2['coor']))
    draw.polygon(points, fill=(5*zarib_rang,11*zarib_rang,8*zarib_rang), outline=20, width=1)
image.show()
df2

/usr/bin/xdg-open: 882: www-browser: not found

,Unnamed: 0,long,lat,group,order,region,subregion,coor
8092,8120,-104.049133,48.999352,28,8120,montana,NaN,"(321.65606689453307, 147.00453948974638)"
8093,8121,-104.049133,48.632656,28,8121,montana,NaN,"(321.65606689453307, 149.5714073181153)"
8094,8122,-104.049133,48.386288,28,8122,montana,NaN,"(321.65606689453307, 151.295986175537)"
8095,8123,-104.049133,47.985214,28,8123,montana,NaN,"(321.65606689453307, 154.1035003662112)"
8096,8124,-104.049133,47.400799,28,8124,montana,NaN,"(321.65606689453307, 158.1944084167482)"
...,...,...,...,...,...,...,...,...
8325,8353,-104.948677,49.005081,28,8353,montana,NaN,"(315.359260559084, 146.96443176269543)"
8326,8354,-104.753876,49.005081,28,8354,montana,NaN,"(316.72286987304597, 146.96443176269543)"
8327,8355,-104.501770,49.005081,28,8355,montana,NaN,"(318.48760986328307, 146.96443176269543)"
8328,8356,-104.249672,48.999352,28,8356,montana,NaN,"(320.252296447755, 147.00453948974638)"
8329,8357,-104.049133,48.999352,28,8357,montana,NaN,"(321.65606689453307, 147.00453948974638)"

/usr/bin/xdg-open: 882: links2: not found
/usr/bin/xdg-open: 882: elinks: not found
/usr/bin/xdg-open: 882: links: not found
/usr/bin/xdg-open: 882: lynx: not found
/usr/bin/xdg-open: 882: w3m: not found
xdg-open: no method available for opening '/tmp/tmpk4qii_bz.PNG'