In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('train.csv')
df.columns = df.columns.str.replace(' ', '')
df.head()

,CustomerId,Age,EmploymentType,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No

In [3]:
# one
df1=df.shape
for i in df1:
  print(i,end=' ')

1590 10

In [4]:
#two
average=np.round(df['AnnualIncome'].mean())
average

928553.0

In [5]:
#three
df['EverTravelledAbroad'].value_counts()[1]

302

In [6]:
#four
total=np.round(df['EmploymentType'].value_counts(normalize=True)*100)
total.to_frame()

                              EmploymentType
Private Sector/Self Employed            73.0
Government Sector                       27.0

In [16]:
#five
s = df.groupby(['ChronicDiseases'])['TravelInsurance'].value_counts(normalize=True)*100
s.to_frame()

                                 TravelInsurance
ChronicDiseases TravelInsurance
0               No                     65.764192
                Yes                    34.235808
1               No                     62.471910
                Yes                    37.528090