In [1]:
import pandas as pd
import numpy as np

In [2]:
cpm_p_table = pd.read_csv('quize_pandas.zip', compression='zip')

Questions and Results

با استفاده از دادگان ارائه شده محاسبه کنید هر مشتری چند درصد از هر محصول را خریده است. (با دقت دهگان درصد)

In [3]:
cpm_p_table['Quantity'] = cpm_p_table.loc[:,['Volume', 'Count']].max(axis=1)

In [4]:
cpm_p_table['Total'] = 0
mask = 0
for index, row in cpm_p_table.iterrows():
    mask = cpm_p_table.Product == row['Product']
    cpm_p_table['Total'][index] = cpm_p_table[mask]['Quantity'].sum()
    
cpm_p_table['Percent'] = cpm_p_table['Quantity']*100/cpm_p_table['Total']

df = cpm_p_table.groupby(['Customer', 'Product'])
df = np.around(df.sum().reset_index(), 2)
df

C:\Users\o-saberi\AppData\Local\Temp\ipykernel_7644\1160480320.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cpm_p_table['Total'][index] = cpm_p_table[mask]['Quantity'].sum()

   Customer Product  Count  Volume  Quantity   Total  Percent
0  CI100019     P01   33.0    0.00     33.00   135.0    73.33
1  CI100019     P02    0.0    3.09      3.09    45.4    13.63
2  CI100019     P03  214.0    0.00    214.00  2132.0    40.15
3  CI100021     P01    3.0    0.00      3.00    90.0     6.67
4  CI100021     P02    0.0    6.89      6.89    90.8    30.37
5  CI100021     P03  196.0    0.00    196.00  3198.0    36.77
6  CI100028     P01    9.0    0.00      9.00    45.0    20.00
7  CI100028     P02    0.0   12.71     12.71   136.2    56.00
8  CI100028     P03  123.0    0.00    123.00  1599.0    23.08

In [5]:

df.pivot(index = 'Customer', columns=['Product'],values='Percent').fillna(0).astype(str).add('%')

Product      P01     P02     P03
Customer
CI100019  73.33%  13.63%  40.15%
CI100021   6.67%  30.37%  36.77%
CI100028   20.0%   56.0%  23.08%

In [6]:
cpm_p_table.sort_values(['Customer', 'Product', 'Model']).loc[slice(None),slice('Total')].reset_index(drop=True)

    Customer Product Model  Count    Volume   Quantity       Total
0   CI100019     P01   M02    9.0       NaN   9.000000   45.000000
1   CI100019     P01   M02   14.0       NaN  14.000000   45.000000
2   CI100019     P01   M03   10.0       NaN  10.000000   45.000000
3   CI100019     P02   M02    NaN  1.723917   1.723917   22.699233
4   CI100019     P02   M03    NaN  1.370358   1.370358   22.699233
5   CI100019     P03   M01   21.0       NaN  21.000000  533.000000
6   CI100019     P03   M02   61.0       NaN  61.000000  533.000000
7   CI100019     P03   M02   81.0       NaN  81.000000  533.000000
8   CI100019     P03   M03   51.0       NaN  51.000000  533.000000
9   CI100021     P01   M01    1.0       NaN   1.000000   45.000000
10  CI100021     P01   M03    2.0       NaN   2.000000   45.000000
11  CI100021     P02   M01    NaN  0.427100   0.427100   22.699233
12  CI100021     P02   M02    NaN  0.948237   0.948237   22.699233
13  CI100021     P02   M03    NaN  3.607547   3.607547   22.699233
14  CI100021     P02   M03    NaN  1.910294   1.910294   22.699233
15  CI100021     P03   M01   31.0       NaN  31.000000  533.000000
16  CI100021     P03   M01   11.0       NaN  11.000000  533.000000
17  CI100021     P03   M02   31.0       NaN  31.000000  533.000000
18  CI100021     P03   M02   31.0       NaN  31.000000  533.000000
19  CI100021     P03   M02   51.0       NaN  51.000000  533.000000
20  CI100021     P03   M03   41.0       NaN  41.000000  533.000000
21  CI100028     P01   M02    9.0       NaN   9.000000   45.000000
22  CI100028     P02   M01    NaN  5.455363   5.455363   22.699233
23  CI100028     P02   M01    NaN  1.680085   1.680085   22.699233
24  CI100028     P02   M02    NaN  0.267710   0.267710   22.699233
25  CI100028     P02   M02    NaN  0.898730   0.898730   22.699233
26  CI100028     P02   M03    NaN  3.574533   3.574533   22.699233
27  CI100028     P02   M03    NaN  0.835356   0.835356   22.699233
28  CI100028     P03   M01   41.0       NaN  41.000000  533.000000
29  CI100028     P03   M02   11.0       NaN  11.000000  533.000000
30  CI100028     P03   M02   71.0       NaN  71.000000  533.000000