# answer below questions

## 1-what is diffrent betwee select and select distinct

SELECT * will select all the columns from the tables in the FROM clause


SELECT DISTINCT * will find all unique combinations of row data for tables in the FROM clause

## 2- with sql how do you select all the records from the table named"Person" where the value of the column"FirstName" starts with an "a"


SELECT * FROM persons WHERE firstname LIKE ‘a%’

## 3-what does truncate do

Removes all rows from a table or specified partitions of a table, without logging the individual row deletions. TRUNCATE TABLE is similar to the DELETE statement with no WHERE clause; however, TRUNCATE TABLE is faster and uses fewer system and transaction log resources.

## 4-with which sql command you can change table schema ?

alter schema

## 5-how do you cahnge a record that saved in table

UPDATE table name  SET field name  = some value

## 6-what is the meaning of pk and foreign key are they diffrent?

Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

Foreign Key: A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

# from calss

In [ ]:
import sqlite3
conn = sqlite3.connect("titanic.db")
curs =conn.cursor()
curs.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(curs.fetchall(2))
curs.execute("UPDATE titanic SET IsReverend = 0 WHERE Name NOT LIKE '%Rev%'")
conn.commit()

In [ ]:
import psycopg2
import psycopg2.extras
import pandas as pd

# Connect to your postgres DB
conn = psycopg2.connect(
    host="localhost",
    database="ml",
    user="mapsa",
    password="mapsa1234")

# pandas dataframe
# df = pd.read_sql_query("SELECT * FROM users", conn)

# Open a cursor to perform database operations
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
# cur = conn.cursor()


# find users
cur.execute("SELECT username FROM users")

# sqlalchemy is big orm i want you use peewe orm that give you a hand in making queries

In [ ]:
pip install peewee

## 1-use it to make sqlite database with name and day(date kind)scheme that named peewedb.db and create it

In [7]:
import peewee
import datetime

In [8]:
db = peewee.SqliteDatabase('peewedb.db')
db

## 2- add two row in your database first on is (name=azaddel and day= (1991,2,14) and second one is (name=yourname, day=yourbirthday) and save it to peewedb datbase in person table

In [9]:
class Note(peewee.Model):
  name = peewee.CharField()
  day = peewee.DateField(default=datetime.date.today)

  class Meta:
    database = db
    db_table = 'notes'


Note.create_table()

note1 = Note.create(name='azaddel',
        day=datetime.date(1991, 2, 14))
note1.save()

note2 = Note.create(name='pouya',
        day=datetime.date(2003, 6, 6))
note2.save()

1

## 3- filter the table with rows that their name is equal to your name

In [14]:
rows=Note.select().where (Note.name == "pouya")
for row in rows:
   print ("name: {} day: {}".format(row.name, row.day))

name: pouya day: 2003-06-06
name: pouya day: 2003-06-06
name: pouya day: 2003-06-06