In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

supermarket = pd.read_csv('supermarket.csv')
supermarket

        Customer Id        Date                Product
0      JKML5ZWXP0XQ  2020-07-20         tropical fruit
1      YOGWQIUPDAJ7  2020-04-30             whole milk
2      Q3NL22281AF6  2020-09-18              pip fruit
3      C59GRTLMZQAU  2020-12-11       other vegetables
4      WUSF8LTEQZ5L  2020-01-02             whole milk
...             ...         ...                    ...
32705  PM1BQU9H9S2Q  2019-06-05                    oil
32706  6AWIAP3ZV551  2019-08-10          sliced cheese
32707  LRWVFLSC8X5B  2019-02-23                  candy
32708  8KYRMELYKNIH  2019-04-16               cake bar
32709  41NGW85T47Q1  2019-03-12  fruit/vegetable juice

[32710 rows x 3 columns]

*تعداد محصولات یکتا در کل دادگان، چندتاست؟*

In [ ]:
print(len(supermarket["Product"].unique()))

137

In [29]:
pd.pivot_table(supermarket, values=('Date'), index=['Customer Id', 'Product'], aggfunc='first')

                                     Date
Customer Id  Product
0011457U6R3Y brown bread       2020-10-13
             dessert           2020-10-13
             rolls/buns        2020-10-13
008J5Z3CJPYU bottled beer      2019-06-12
             domestic eggs     2019-10-17
...                                   ...
ZZRT1GFUKTZ7 dishes            2019-03-30
             hamburger meat    2020-06-13
             other vegetables  2020-07-30
             specialty fat     2019-11-12
             whole milk        2019-01-16

[29730 rows x 1 columns]

*چهار محصولی که کمتر از بقیه در سبد مشتریان قرار گرفته‌اند، کدامند؟*

In [8]:
supermarket['Product'].value_counts()

whole milk               2363
other vegetables         1827
rolls/buns               1646
soda                     1453
yogurt                   1285
                         ...
frozen chicken              5
bags                        4
baby cosmetics              3
kitchen utensil             1
preservation products       1
Name: Product, Length: 137, dtype: int64

In [8]:
supermarket.sort_values('Date')

        Customer Id        Date                Product
27799  KCTZ72QHMDFI  2019-01-01  Instant food products
13034  Y0P0N0Q7J20N  2019-01-01    specialty chocolate
25842  3K6D758U6XEW  2019-01-01      frozen vegetables
8096   4HQQAPAPG6SF  2019-01-01           citrus fruit
21803  XF4DEN65CUZO  2019-01-01       other vegetables
...             ...         ...                    ...
14588  2O2YLJ5FUAJT  2020-12-29           bottled beer
17620  5USJ20248CHY  2020-12-29                  herbs
29635  0LRNCT5AF6LF  2020-12-29             rolls/buns
6344   NV334BJ2XM2Z  2020-12-29         tropical fruit
1006   JOS88LWNW3ST  2020-12-29                 yogurt

[32710 rows x 3 columns]

*پنج مشتری‌ای که بیشترین تعداد "سبد" را داشته‌اند، کدامند*

In [7]:
supermarket['Customer Id'].value_counts().head(5)

0P1TPIH74E79    32
0ZRF32AJ06BC    30
L1V5UZI2G191    28
KACGV5OJXMJW    26
TSLTR5I98ZZP    26
Name: Customer Id, dtype: int64

*میزان فروش به ازای هر روز به صورت میانگین چند است؟*

In [12]:
supermarket.groupby('Date').mean(len('Product'))

Empty DataFrame
Columns: []
Index: [2019-01-01, 2019-01-02, 2019-01-03, 2019-01-04, 2019-01-05, 2019-01-06, 2019-01-07, 2019-01-08, 2019-01-09, 2019-01-10, 2019-01-11, 2019-01-12, 2019-01-13, 2019-01-14, 2019-01-15, 2019-01-16, 2019-01-17, 2019-01-18, 2019-01-19, 2019-01-20, 2019-01-21, 2019-01-22, 2019-01-23, 2019-01-24, 2019-01-25, 2019-01-26, 2019-01-27, 2019-01-28, 2019-01-29, 2019-01-30, 2019-01-31, 2019-02-01, 2019-02-02, 2019-02-03, 2019-02-04, 2019-02-05, 2019-02-06, 2019-02-07, 2019-02-08, 2019-02-09, 2019-02-10, 2019-02-11, 2019-02-12, 2019-02-13, 2019-02-14, 2019-02-15, 2019-02-16, 2019-02-17, 2019-02-18, 2019-02-19, 2019-02-20, 2019-02-21, 2019-02-22, 2019-02-23, 2019-02-24, 2019-02-25, 2019-02-26, 2019-02-27, 2019-02-28, 2019-03-01, 2019-03-02, 2019-03-03, 2019-03-04, 2019-03-05, 2019-03-06, 2019-03-07, 2019-03-08, 2019-03-09, 2019-03-10, 2019-03-11, 2019-03-12, 2019-03-13, 2019-03-14, 2019-03-15, 2019-03-16, 2019-03-17, 2019-03-18, 2019-03-19, 2019-03-20, 2019-03-21, 2019-03-22, 2019-03-23, 2019-03-24, 2019-03-25, 2019-03-26, 2019-03-27, 2019-03-28, 2019-03-29, 2019-03-30, 2019-03-31, 2019-04-01, 2019-04-02, 2019-04-03, 2019-04-04, 2019-04-05, 2019-04-06, 2019-04-07, 2019-04-08, 2019-04-09, 2019-04-10, ...]

[728 rows x 0 columns]