In [128]:
import pandas as pd
import numpy as np
data = pd.read_csv('quize_pandas.zip')
data.head()

   Customer Product Model  Count    Volume
0  CI100019     P03   M01   21.0       NaN
1  CI100028     P01   M02    9.0       NaN
2  CI100019     P01   M02    9.0       NaN
3  CI100019     P02   M03    NaN  1.370358
4  CI100019     P03   M02   61.0       NaN

In [129]:
data['Count'] = data['Count'].dropna(0)
data['percent']=data['Count']/data['Count'].sum()*100
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of Series.dropna will be keyword-only
  """Entry point for launching an IPython kernel.

    Customer Product Model  Count    Volume    percent
0   CI100019     P03   M01   21.0       NaN   3.633218
1   CI100028     P01   M02    9.0       NaN   1.557093
2   CI100019     P01   M02    9.0       NaN   1.557093
3   CI100019     P02   M03    NaN  1.370358        NaN
4   CI100019     P03   M02   61.0       NaN  10.553633
5   CI100021     P03   M02   31.0       NaN   5.363322
6   CI100028     P02   M01    NaN  5.455363        NaN
7   CI100021     P03   M01   31.0       NaN   5.363322
8   CI100021     P03   M01   11.0       NaN   1.903114
9   CI100028     P02   M03    NaN  3.574533        NaN
10  CI100021     P01   M03    2.0       NaN   0.346021
11  CI100028     P03   M02   11.0       NaN   1.903114
12  CI100021     P02   M01    NaN  0.427100        NaN
13  CI100028     P03   M01   41.0       NaN   7.093426
14  CI100021     P02   M02    NaN  0.948237        NaN
15  CI100021     P02   M03    NaN  3.607547        NaN
16  CI100019     P03   M03   51.0       NaN   8.823529
17  CI100028     P03   M02   71.0       NaN  12.283737
18  CI100019     P01   M03   10.0       NaN   1.730104
19  CI100021     P02   M03    NaN  1.910294        NaN
20  CI100028     P02   M02    NaN  0.267710        NaN
21  CI100021     P03   M02   31.0       NaN   5.363322
22  CI100028     P02   M03    NaN  0.835356        NaN
23  CI100028     P02   M01    NaN  1.680085        NaN
24  CI100021     P03   M03   41.0       NaN   7.093426
25  CI100028     P02   M02    NaN  0.898730        NaN
26  CI100021     P01   M01    1.0       NaN   0.173010
27  CI100021     P03   M02   51.0       NaN   8.823529
28  CI100019     P01   M02   14.0       NaN   2.422145
29  CI100019     P02   M02    NaN  1.723917        NaN
30  CI100019     P03   M02   81.0       NaN  14.013841

In [125]:
data1 = data['count_total'] = data.groupby(['Product','Model'])['Count'].transform('sum')
data1 = data['volume_total'] = data.groupby(['Product','Model'])['Volume'].transform('sum')
data1 = pd.pivot_table(data, values=('Count','Volume','count_total','volume_total'), index=['Customer', 'Product','Model'])
data1

                            Count    Volume  count_total  volume_total
Customer Product Model
CI100019 P01     M02    11.500000       NaN         32.0      0.000000
                 M03    10.000000       NaN         12.0      0.000000
         P02     M02          NaN  1.723917          0.0      3.838595
                 M03          NaN  1.370358          0.0     11.298089
         P03     M01    21.000000       NaN        104.0      0.000000
                 M02    71.000000       NaN        337.0      0.000000
                 M03    51.000000       NaN         92.0      0.000000
CI100021 P01     M01     1.000000       NaN          1.0      0.000000
                 M03     2.000000       NaN         12.0      0.000000
         P02     M01          NaN  0.427100          0.0      7.562549
                 M02          NaN  0.948237          0.0      3.838595
                 M03          NaN  2.758921          0.0     11.298089
         P03     M01    21.000000       NaN        104.0      0.000000
                 M02    37.666667       NaN        337.0      0.000000
                 M03    41.000000       NaN         92.0      0.000000
CI100028 P01     M02     9.000000       NaN         32.0      0.000000
         P02     M01          NaN  3.567724          0.0      7.562549
                 M02          NaN  0.583220          0.0      3.838595
                 M03          NaN  2.204944          0.0     11.298089
         P03     M01    41.000000       NaN        104.0      0.000000
                 M02    41.000000       NaN        337.0      0.000000