<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6 color=#F32500>
        <div  align=center>
            تمرین هفته سوم بوت کمپ یادگیری ماشین-
            مپصا
        </div>
        <br/>
    </font>
</div>

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<div align=center>
			<font face="IranNastaliq" size=5>    
                  چون عهده نمی‌شود کسی فردا را
                <br><br>
                 حالی خوش دار این دل پر سودا را
                <br><br>
                می نوش به ماهتاب ای ماه که ماه
                <br><br>
                بسیار بتابد و نیابد ما را        			   	
                <p></p>
			</font>
        </div>
    </font>
</div>

In [1]:
import numpy as np
import pandas as pd

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال اول:‌
            </font>
        <font>
            مجموعه داده های زیر را در نظر بگیرید
        </font>
        <br/>
    </font>
</div>

In [11]:
numbers = np.array([ 4.5 , 7.8 , 6.5, 0.5, 8. , 6.5, 19. , 13.5, 2.5, 17. , 19. ,
       19.5, 13. ,  12.21 ,  6.3, 0.5, 9.5, 13.5, 16., 2.5, 10.5, 8. ,
       10. , 15.5,  7.5,  0. ,  1. , 10.5,  2. , 11. ,  3. , 14. ,  3.5,
       18.5, 13. ,  1. , 14.5, 15. ,  1.52 , 15.5,  1.5,  2.8 ,  3.5,  6.5,
        12.5, 14.5, 11.5,  8. ,  10.2 ,  5.5,  0.5, 23. ,  5. ,  0.5, 17.5,
       17.5, 17.5, 15. ,  4.5, 17. , 18. , 10. ,  8.5, 14. , 18.5, 19.5,
       16.3 ,  8.5,  0. ,  9.5,  6. ,  2. ,  5. ,  9.5,  4. ,  4. ,  1. ,
        8. , 18.5, 18. , 15.5,  4.5,  1.5, 20. ,  0.5, 19. ,  4. ,  9.5,
       12.8  ])

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
        برای این مجموعه داده ها قصد داریم با دو فرمول زیر مقادیر آنها را تغییر دهیم:
<br>
۱. اگر عددی کمتر از هشت و نیم است با فرمول زیر آن عدد تغییر کند:
<br>
$$ y = 10 + \frac{x}{10} $$
<br>
۲. اگر عددیبیشتر یا مساوی هشت و نیم است با فرمول زیر آن عدد تغییر کند :
<br>
$$ y =  -0.0051x^{2} + 0.8586x + 3.4332 $$
<br>
توجه کنید که حتی بعد از تغییر باید بیشینه عدد نهایتا بیشینه عدد موجود در داده فعلی باشد. 25 درصد داده های بزرگتر را در آرایه زیر بریزید
</div>

In [23]:
changed=np.vectorize(lambda x: 10+x/10 if x<8.5 else -0.0051*x*x+0.8586*x+3.4332)(numbers)
changed

array([10.45      , 10.78      , 10.65      , 10.05      , 10.8       ,
       10.65      , 17.9055    , 14.094825  , 10.25      , 16.5555    ,
       17.9055    , 18.236625  , 13.7331    , 13.15637709, 10.63      ,
       10.05      , 11.129625  , 14.094825  , 15.8652    , 10.25      ,
       11.886225  , 10.8       , 11.5092    , 15.516225  , 10.75      ,
       10.        , 10.1       , 11.886225  , 10.2       , 12.2607    ,
       10.3       , 14.454     , 10.35      , 17.571825  , 13.7331    ,
       10.1       , 14.810625  , 15.1647    , 10.152     , 15.516225  ,
       10.15      , 10.28      , 10.35      , 10.65      , 13.368825  ,
       14.810625  , 12.632625  , 10.8       , 11.660316  , 10.55      ,
       10.05      , 20.4831    , 10.5       , 10.05      , 16.896825  ,
       16.896825  , 16.896825  , 15.1647    , 10.45      , 16.5555    ,
       17.2356    , 11.5092    , 10.362825  , 14.454     , 17.571825  ,
       18.236625  , 16.073361  , 10.362825  , 10.        , 11.129625  ,
       10.6       , 10.2       , 10.5       , 11.129625  , 10.4       ,
       10.4       , 10.1       , 10.8       , 17.571825  , 17.2356    ,
       15.516225  , 10.45      , 10.15      , 18.5652    , 10.05      ,
       17.9055    , 10.4       , 11.129625  , 13.587696  ])

In [29]:
sorted=np.sort(changed)[::-1]
up_new_twenty_five= sorted[:int(len(sorted)*0.25)]
up_new_twenty_five

array([20.4831  , 18.5652  , 18.236625, 18.236625, 17.9055  , 17.9055  ,
       17.9055  , 17.571825, 17.571825, 17.571825, 17.2356  , 17.2356  ,
       16.896825, 16.896825, 16.896825, 16.5555  , 16.5555  , 16.073361,
       15.8652  , 15.516225, 15.516225, 15.516225])

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
 25 درصد داده های کوچکتر آرایه اول را در آرایه زیر بریزید
</div>

In [52]:
down_old_twenty_five = np.sort(numbers)[:int(len(numbers)*0.25)]
down_old_twenty_five

array([0.  , 0.  , 0.5 , 0.5 , 0.5 , 0.5 , 0.5 , 1.  , 1.  , 1.  , 1.5 ,
       1.5 , 1.52, 2.  , 2.  , 2.5 , 2.5 , 2.8 , 3.  , 3.5 , 3.5 , 4.  ])

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
      <p></p>
        داده های متناظر دو آرایه به دست آمده را از یکدیگر کسر کنید و در یک آرایه سه بعدی که اندازه ابعاد سوم و دوم آن یک میباشد بریزید
</div>

In [68]:
result=up_new_twenty_five-down_old_twenty_five
reshaped=result.reshape(len(result),1,1)

reshaped

#np.array([[[1]],[[2]]]).shape

array([[[20.4831  ]],

       [[18.5652  ]],

       [[17.736625]],

       [[17.736625]],

       [[17.4055  ]],

       [[17.4055  ]],

       [[17.4055  ]],

       [[16.571825]],

       [[16.571825]],

       [[16.571825]],

       [[15.7356  ]],

       [[15.7356  ]],

       [[15.376825]],

       [[14.896825]],

       [[14.896825]],

       [[14.0555  ]],

       [[14.0555  ]],

       [[13.273361]],

       [[12.8652  ]],

       [[12.016225]],

       [[12.016225]],

       [[11.516225]]])

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال دوم:‌
        </font>
در این تمرین قصد داریم به تحلیل داده های فیلم های برتر سینمای جهان به معیار imdb بپردازیم. ابتدا دادههای مربوط به فیلم را از فایل csv فراخوانی میکنیم
        <br/>
    </font>
</div>

In [42]:
movies = pd.read_csv("data/imdb_movie_rank.csv")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [6]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        در این دیتاست اگر داده ای وجود دارد که مقدار nullدارد سطرش را حذف کنید. 
        <br/>
    </font>
</div>

In [7]:
without_Nan=movies.dropna()

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        فیلم ها را براساس مدت زمان فیلم به صورت نزولی مرتب کنید و پنجاه تای اول را در فایل csv با نام long_time ذخیره کنید 
        <br/>
    </font>
</div>

In [40]:
sorted_movies=movies.sort_values('duration',ascending=False)
sorted_movies.to_csv("data/writed.csv")

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         تابعی بنویسید که نام بازیگر را به عنوان آرگومان بگیرد و تعداد فیلم های برتر از این لیست را که بازی کرده محاسبه کند.
        <br/>
    </font>
</div>

In [31]:
'Tim Robbins' in (movies.loc[movies['star_rating']>=7.0])['actors_list'][0]

True

In [ ]:
def number_of_bluckBusters(name:str)->int:
    counter=0
    # movies.loc[movies['star_rating']>=7.0]
    func=np.vectorize(lambda x: counter+1 if name in x['actors_list'] else counter)(movies.loc[movies['star_rating']>=7.0])
    return counter
number_of_bluckBusters('Tim Robbins')

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         میانگین امتیاز فیلم ها را براساس ژانر نمایش به دست آورید.
        <br/>
    </font>
</div>

In [36]:
movies.groupby('genre')['star_rating'].mean()

genre
Action       7.884559
Adventure    7.933333
Animation    7.914516
Biography    7.862338
Comedy       7.822436
Crime        7.916935
Drama        7.902518
Family       7.850000
Fantasy      7.700000
Film-Noir    8.033333
History      8.000000
Horror       7.806897
Mystery      7.975000
Sci-Fi       7.920000
Thriller     7.680000
Western      8.255556
Name: star_rating, dtype: float64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
       ستونی به این داده ها اضافه کنید که در صورت اینکه یک فیلم مدت نمایش آن 150 دقیقه و یا بیشتر بود مقدار صفر و در غیر اینصورت 1 در هر سطر این ستون قرار گیرد. دیتافریم حاصل را در یک فایل csv ذخیره کنید.
        <br/>
    </font>
</div>

In [43]:
column=[0]*len(movies)
movies['durationType']=column

movies['durationType']=movies['duration'].apply(lambda x: 1 if x<150 else 0)

movies

,star_rating,title,content_rating,genre,duration,actors_list,durationType
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",1
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",0
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",0
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",0
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",0
...,...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",1
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",1
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",1
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",1
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",1

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        عنوان ستونها را به نحوی تغییر دهید که در ستون های دارای _(آندرلاین) فاصله قرار گیرد. به عنوان مثال star_rating به star rating تبدیل می شود.
        <br/>
    </font>
</div>

In [5]:
movies.columns=movies.columns.str.replace('_',' ')
movies

,star rating,title,content rating,genre,duration,actors list,durationType
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",1
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",0
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",0
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",0
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",0
...,...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",1
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",1
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",1
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",1
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",1

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        داده ها را براساس ژانر گروه بندی و مرتب کنید و از هر ژانر صرفا سه تای برتر را نمایش دهید
        <br/>
    </font>
</div>

In [36]:
movies.groupby(['genre'])['star rating','title'].apply(lambda x: x.nlargest(3, columns=['star rating']))

C:\Users\Asus\AppData\Local\Temp\ipykernel_6584\3042599866.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  movies.groupby(['genre'])['star rating','title'].apply(lambda x: x.nlargest(3, columns=['star rating']))

               star rating                                              title
genre
Action    3            9.0                                    The Dark Knight
          11           8.8                                          Inception
          12           8.8     Star Wars: Episode V - The Empire Strikes Back
Adventure 7            8.9      The Lord of the Rings: The Return of the King
          10           8.8  The Lord of the Rings: The Fellowship of the Ring
          14           8.8              The Lord of the Rings: The Two Towers
Animation 30           8.6                                      Spirited Away
          55           8.5                                      The Lion King
          61           8.5                             Grave of the Fireflies
Biography 8            8.9                                   Schindler's List
          18           8.7                                         Goodfellas
          31           8.6                                   The Intouchables
Comedy    25           8.6                                  Life Is Beautiful
          29           8.6                                        City Lights
          35           8.6                                       Modern Times
Crime     0            9.3                           The Shawshank Redemption
          1            9.2                                      The Godfather
          2            9.1                             The Godfather: Part II
Drama     5            8.9                                       12 Angry Men
          9            8.9                                         Fight Club
          13           8.8                                       Forrest Gump
Family    468          7.9                         E.T. the Extra-Terrestrial
          497          7.8                Willy Wonka & the Chocolate Factory
Fantasy   638          7.7                          The City of Lost Children
Film-Noir 105          8.3                                      The Third Man
          210          8.1                                              Laura
          687          7.7                                         Spellbound
History   338          8.0                                Battleship Potemkin
Horror    39           8.6                                             Psycho
          57           8.5                                              Alien
          62           8.5                                        The Shining
Mystery   38           8.6                                        Rear Window
          46           8.5                                            Memento
          76           8.4                                            Vertigo
Sci-Fi    145          8.2                                       Blade Runner
          321          8.0                                             Brazil
          408          7.9                                            Gravity
Thriller  350          8.0                                  Shadow of a Doubt
          496          7.8                                             Misery
          728          7.6                                 La piel que habito
Western   6            8.9                     The Good, the Bad and the Ugly
          26           8.6                       Once Upon a Time in the West
          59           8.5                                   Django Unchained

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        تفاوت بین متد read_table و read_csv در ماژول pandas چیست؟
        <br/>
    </font>
</div>

In [ ]:
read_csv() delimiter is a comma character
read_table() is a delimiter of tab \t
read_table is read_csv with sep=',' replaced by sep='\t', they are two thin wrappers around the same function so the performace will be identical.

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال چهارم:‌
        </font>
       توضیح دهید crosstab در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟
        <br/>
    </font>
</div>

In [58]:
pd.crosstab(movies.genre, movies.content_rating)
# رابطه دو ستون از داده ها را نشان می دهد، تعداد آیتم دوم را برای آیتم اول میشمارد یعنی برای مثال در زانر اکشن چند فیلم اپروو شده است

content_rating,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
genre,,,,,,,,,,,,
Action,3,1,1,0,4,1,11,44,67,0,3,0
Adventure,3,2,0,0,5,1,21,23,17,0,2,0
Animation,3,20,0,0,3,0,25,5,5,0,1,0
Biography,1,2,1,0,1,0,6,29,36,0,0,0
Comedy,9,2,1,1,16,3,23,23,73,0,4,1
Crime,6,0,0,1,7,1,6,4,87,0,11,1
Drama,12,3,0,4,24,1,25,55,143,1,9,1
Family,0,1,0,0,0,0,1,0,0,0,0,0
Fantasy,0,0,0,0,0,0,0,0,1,0,0,0
Film-Noir,1,0,0,0,1,0,0,0,0,0,1,0
History,0,0,0,0,0,0,0,0,0,0,1,0
Horror,2,0,0,1,1,0,1,2,16,0,5,1
Mystery,4,1,0,0,1,0,1,2,6,0,1,0
Sci-Fi,1,0,0,0,0,0,0,1,3,0,0,0
Thriller,1,0,0,0,0,0,1,0,3,0,0,0
Western,1,0,0,0,2,0,2,1,3,0,0,0

In [59]:
movies.groupby(['genre'])['content_rating'].count()

genre
Action       135
Adventure     74
Animation     62
Biography     76
Comedy       156
Crime        124
Drama        278
Family         2
Fantasy        1
Film-Noir      3
History        1
Horror        29
Mystery       16
Sci-Fi         5
Thriller       5
Western        9
Name: content_rating, dtype: int64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال پنچم:‌
        </font>
         توضیح دهید متد corr در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟ 
        <br/>
    </font>
</div>

In [45]:
movies.corr()
# is used to find the pairwise correlation of all columns in the Pandas DataFrame in Python.
# Any NaN values are automatically excluded. Any non-numeric data type or columns in the Dataframe, it is ignored.

C:\Users\Asus\AppData\Local\Temp\ipykernel_6584\1738869300.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  movies.corr()

              star_rating  duration  durationType
star_rating      1.000000  0.227149     -0.221328
duration         0.227149  1.000000     -0.744894
durationType    -0.221328 -0.744894      1.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        با استفاده از متد value_counts تعداد فیلمها در هر ریت محتوا را به دست آورید.
        <br/>
    </font>
</div>

In [63]:
movies['content_rating'].value_counts()

R            460
PG-13        189
PG           123
NOT RATED     65
APPROVED      47
UNRATED       38
G             32
PASSED         7
NC-17          7
X              4
GP             3
TV-MA          1
Name: content_rating, dtype: int64

In [65]:
movies.groupby(['content_rating'])['title'].value_counts()

content_rating  title
APPROVED        A Hard Day's Night    1
                All About Eve         1
                Belle de Jour         1
                Bonnie and Clyde      1
                Bringing Up Baby      1
                                     ..
UNRATED         Zulu                  1
X               A Clockwork Orange    1
                Evil Dead II          1
                Midnight Cowboy       1
                Suspiria              1
Name: title, Length: 974, dtype: int64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال ششم:‌
        </font>
        با استفاده از متد sample هفتاد و پنج درصد سطرها را در یک متغیر به نام sample_1 بریزید. درنهایت با استفاده از متد drop از دیتافریم اصلی این سطرها را حذف و دیتافریم جدید را در sample_2 بریزید
        <br/>
    </font>
</div>

In [80]:
sample_1=movies.sample(frac=0.75)
sample_1

,star_rating,title,content_rating,genre,duration,actors_list,durationType
215,8.1,La Strada,NOT RATED,Drama,108,"[u'Anthony Quinn', u'Giulietta Masina', u'Rich...",1
70,8.4,Amelie,R,Comedy,122,"[u'Audrey Tautou', u'Mathieu Kassovitz', u'Ruf...",1
249,8.1,Sleuth,PG,Mystery,138,"[u'Laurence Olivier', u'Michael Caine', u'Alec...",1
781,7.6,An American Werewolf in London,R,Comedy,97,"[u'David Naughton', u'Jenny Agutter', u'Joe Be...",1
835,7.5,Despicable Me 2,PG,Animation,98,"[u'Steve Carell', u'Kristen Wiig', u'Benjamin ...",1
...,...,...,...,...,...,...,...
752,7.6,Garden State,R,Comedy,102,"[u'Zach Braff', u'Peter Sarsgaard', u'Natalie ...",1
860,7.5,The Fly,R,Horror,96,"[u'Jeff Goldblum', u'Geena Davis', u'John Getz']",1
240,8.1,The Bourne Ultimatum,PG-13,Action,115,"[u'Matt Damon', u'\xc9dgar Ram\xedrez', u'Joan...",1
706,7.6,Fried Green Tomatoes,PG-13,Drama,130,"[u'Kathy Bates', u'Jessica Tandy', u'Mary Stua...",1
429,7.9,The Fall,R,Adventure,117,"[u'Lee Pace', u'Catinca Untaru', u'Justine Wad...",1

In [81]:
sample_2=movies.drop(sample_1.index)
sample_2

,star_rating,title,content_rating,genre,duration,actors_list,durationType
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",0
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...",1
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...",0
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...",0
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...",1
...,...,...,...,...,...,...,...
956,7.4,Manhattan Murder Mystery,PG,Comedy,104,"[u'Woody Allen', u'Diane Keaton', u'Jerry Adler']",1
960,7.4,The Way Way Back,PG-13,Comedy,103,"[u'Steve Carell', u'Toni Collette', u'Allison ...",1
964,7.4,Lincoln,PG-13,Biography,150,"[u'Daniel Day-Lewis', u'Sally Field', u'David ...",0
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc...",1
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",1

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال هفتم:‌
        </font>
         متد pivot_table چه عملکردی دارد؟
        <br/>
    </font>
</div>

In [ ]:
# A pivot table is a similar operation that is commonly seen in spreadsheets and other programs that operate on tabular data.
# The pivot table takes simple column-wise data as multidimensional summarization of the data.